@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --main-brand: #125CA6;
  --secondary-color: #FDDD1C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --main-brand: #125CA6;
    --secondary-color: #FDDD1C;
  }
}

* {
  box-sizing: border-box;
}

/* To ensure that the entire page is covered and there are no margins or padding around it. */
html,
body {
    height: 105%;
    margin: 0;
}

body {
  color: #fff;
  background-color: #010101;
}

/* Ensures that the main content takes up at least the full height of the page. */
main {
  min-height: calc(100% - 5em) !important;
  /* 3em is the height of the footer */
}

/* This ensures that the footer always stays at the bottom of the page, regardless of the height of the main content. */
footer {
  height: 5em !important;
}

.bg-secondary {
  background-color: #FDDD1C;
}

.bg-brand {
  background-color: #125CA6;
}

.text-brand {
  color: #125CA6;
}

.text-secondary {
  color: #FDDD1C;
}

.white-img {
  filter: invert(1);
}

@media (max-width: 750px) {
  .card {
    width: 40%;
  }

  .parallax {
    margin-right: 1.5rem;
  }

  .sticky {
    margin-left: 1.5rem;
  }
}


.slide-right {
  -webkit-animation: slide-right 0.8s ease-out both;
  animation: slide-right 0.8s ease-out both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(400px);
    transform: translateX(400px);
  }
}


@keyframes rolling {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rolling-image {
  animation: rolling 2s ease-out;
}

.rolling-image-infinite {
  animation: rolling 3s ease-out infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}